.wrapper {
  /* background: no-repeat center url(../../assets/img/bg.jpg); */
  position: relative;
}
.nav {
  flex-direction: row;
  /* max-height: 100vh; */
  /* overflow-y: hidden; */
}
.block {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;
  flex-basis: 33.333333%;
  justify-content: center;
  align-items: center;
}
.horizontalBorder {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 100vh;
}
.link {
  text-decoration: none;
  font-size: 32px;
  font-family: "Soulumaze";
  text-align: center;
}
.videoTag {
  display: flex;
  width: 100%;
  padding: none;
  position: absolute;
  z-index: -2;
  object-fit: cover;
}
#video {
  width: 100%;
  /* height: 100vh; */
}
#videoHover {
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 2000px 1000px 1000px rgba(0, 0, 0, 0.5);
  background-color: #00000050;
  position: absolute;
  transition: all 1s;
}
#videoHover:hover {
  box-shadow: none;
  background-color: transparent;
}

.videoTag:hover > #videoHover {
  background-color: transparent;
  box-shadow: none;
}
.imageWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: none;
  position: absolute;
  z-index: -2;
  object-fit: cover;
}
.image {
  height: 100%;
  width: 100%;
}
.storeIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.arr {
  color: gray;
  font-size: 24px;
  font-family: "Regular";
}

.linksWrapper {
  justify-content: center;
  display: flex;
  flex-direction: "row";
  width: 100%;
  bottom: 0;
  padding: 100px 0;
  z-index: 1;
  background-color: black;
  position: relative;
  text-align: center;
}
.linkItem {
  width: 100px;
  margin: 20px;
}

.store {
  height: 100px;
  width: 300px;
  border: 2px solid gray;
  border-radius: 20px;
}

@media screen and (max-width: 820px) {
  .linkItem {
    width: 80px;
  }

  .store {
    height: 80px;
    width: 220px;
    border: 2px solid gray;
    border-radius: 20px;
  }
}

@media screen and (max-width: 700px) {
  .linksWrapper {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .block {
    width: 100vw;
  }
  .horizontalBorder {
    border: none;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
  }
  /* .link {
    font-size: 20px;
  }*/
  .arr {
    color: gray;
    font-size: 14px;
    font-family: "Regular";
  }
  .linkItem {
    height: 50px;
    width: 45px;
    margin: 5px;
  }

  .store {
    height: 50px;
    width: 150px;
    margin-left: 0px;
  }
}
