.wrapper {
  /* background: no-repeat center url(../../assets/img/bg.jpg); */
  position: relative;
}
.nav {
  flex-direction: row;
  /* max-height: 100vh; */
  /* overflow-y: hidden; */
}
.block {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;
  flex-basis: 33.333333%;
  justify-content: center;
  align-items: center;
}
.horizontalBorder {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 100vh;
}
.link {
  text-decoration: none;
  font-size: 32px;
  font-family: "Soulumaze";
  text-align: center;
}
.videoTag {
  display: flex;
  width: 100%;
  padding: none;
  position: absolute;
  z-index: -2;
  object-fit: cover;
}
#video {
  width: 100%;
  /* height: 100vh; */
}
#videoHover {
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 2000px 1000px 1000px rgba(0, 0, 0, 0.5);
  background-color: #00000050;
  position: absolute;
  transition: all 1s;
}
#videoHover:hover {
  box-shadow: none;
  background-color: transparent;
}

.videoTag:hover > #videoHover {
  background-color: transparent;
  box-shadow: none;
}
.imageWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: none;
  position: absolute;
  z-index: -2;
  object-fit: cover;
}
.image {
  height: 100%;
  width: 100%;
}

.linksWrapper {
  justify-content: center;
  display: flex;
  flex-direction: "row";
  width: 100%;
  bottom: 0;
  padding: 100px 0;
  z-index: 1;
  background-color: black;
  position: relative;
}
.linkItem {
  width: 100px;
  margin: 20px;
}

.store {
  height: 100px;
  width: 300px;
}

@media screen and (max-width: 1160px) {
  .linkItem {
    width: 70px;
    margin: 20px;
    z-index: 200;
  }

  .store {
    height: 70px;
    width: 180px;
  }
}
@media screen and (max-width: 820px) {
  .linkItem {
    width: 50px;
    margin: 20px;
    z-index: 200;
  }

  .store {
    height: 50px;
    width: 135px;
  }
}

@media screen and (max-width: 700px) {
  .linksWrapper {
    padding: 100px 10px;
  }
  .nav {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .block {
    width: 100vw;
  }
  .horizontalBorder {
    border: none;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
  }
  .link {
    font-size: 20px;
  }

  .linkItem {
    height: 40px;
    width: 40px;
    margin: 5px;
    z-index: 200;
  }

  .store {
    height: 40px;
    width: 94px;
  }
}
