/*Обнуление*/
* {
  /* padding: 0; */
  /* margin: 0; */
  border: 0;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
nav,
footer,
header,
aside {
  display: block;
}
::-webkit-scrollbar {
  display: none;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  background-color: #000000;
  font-family: "Regular";
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* ul li {
  list-style: none;
} */
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

#root {
  width: 100vw;
  height: 100vh;
}
.container {
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  /* max-width: 1460px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* padding-bottom: 110px; */
}
li {
  list-style-type: disc;
}
a {
  color: #e2e4e7;
  font-family: "Bold";
}

@font-face {
  font-family: "Regular";
  src: url("./assets/fonts/ProximaNova-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Light";
  src: url("./assets/fonts/ProximaNova-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Semibold";
  src: url("./assets/fonts/ProximaNova-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "Bold";
  src: url("./assets/fonts/ProximaNova-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Bold";
  src: url("./assets/fonts/ProximaNova-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Soulumaze";
  src: url("./assets/fonts/Soulmaze.otf") format("woff2");
}

@media screen and (max-width: 700px) {
  .container {
    padding-bottom: 0;
  }
  ul {
    margin-left: 0;
    padding-left: 16px;
  }
}
